@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    font-family: 'Lato', sans-serif;
    margin: 0 auto;
    width: 75%;
    text-align: center;
    
}

.header h1 {
    text-transform: uppercase;
}

.image-container {   
    clip-path: circle(50% at 50% 50%);
    background-image: url('../img/profile1.jpg');
    background-size: cover;
    background-position: center;
    height: 450px;
    width: 450px;
    margin: 2rem auto;  
}

.navigation ul li {
    border: 1px solid black;
    border-radius: 5px;
    display: inline-block;
    font-size: 2rem;
    padding: 1rem;
    width: 16rem;
    margin: 3rem 0;
}

.navigation ul li:not(:last-child) {
    margin-right: 6rem;
}


.main-container {
    margin: 0 auto;
    width: 75%;
}

.main-container div {
    margin-bottom: 2rem;
}

.main-container h1 {
    margin-bottom: 5rem;
}

.main-container p {
    text-align: justify;
}

.footer {
    font-size: 2rem;
    padding: 2rem;
}

.footer ul {
    list-style: none;
    margin-bottom: 3rem;
}

.footer ul li {
    display: block;
    margin: 2rem;
}

.footer ul a {
    color: #777;
    text-decoration: none;
}


@media (min-width: 480px) {
    .image-container {
        background-image: url('../img/profile1.jpg')
    }
    .container {
        background-color: rgb(161, 178, 210);
        color: #4c3a58;
    }
    .navigation ul li {
        border: 1px solid #a47558;
    }
    .footer ul a {
        color: rgb(68, 154, 157);
    }
    .container {
        width: 100%;
    }
    

    .navigation ul li {
        display: block;
        font-size: 1rem;
        margin: 0;
        width: 100%;
    }
    .navigation ul li:not(:last-child) {
        border-bottom: none;
    }
    

    .main-container {
        padding: 0.75rem;
        width: 100%;
    }

    .main-container h1 {
        margin: 1rem auto;
    }
    
}


@media (min-width: 768px) {
    .image-container {
        background-image: url('../img/profile2.jpg')
    }
    .container {
        background-color: #bc4f20;
        color: #cac3cc;
    }
    .navigation ul li {
        border: 1px solid #533624;
    }
    .footer ul a {
        color: rgb(46, 63, 96);
    }
    .footer ul li {
        display: inline-block;
    }
    .container {
        width: 100%;
    }
}


@media (min-width: 1024px){
    .image-container {
        background-image: url('../img/profile3.jpg')
    }
    .container {
        background-color: #c5bec7;
        color: #5f2e19;
    }
    .navigation ul li {
        border: 1px solid rgb(153, 39, 39);
    }
    .footer ul a {
        color: rgb(14, 76, 14);
    }
    .footer ul li {
        display: inline-block;
    }
    .container {
        width: 100%;
    }  
}


@media (min-width: 1200px){
    .image-container {
        background-image: url('../img/profile4.jpg')
    }
    .container {
        background-color: rgb(121, 121, 201);
        color: rgb(5, 85, 5);
    }
    .navigation ul li {
        border: 1px solid black;
    }
    .footer ul a {
        color: rgb(204, 204, 45);
    }
    .footer ul li {
        display: inline-block;
    }
    .header h1 {
        margin: 3rem auto;
    }
    .navigation ul li {
        display: inline-block;
        width: 16rem;
    }
    
    .navigation ul li:not(:last-child) {
        border-bottom: 1px solid black;
        margin-right: 4rem;
    }

    .main-container {
        width: 75%;
    }

}


